@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service</p>
</div>
<p>Use this page to detail your site's privacy policy.</p>
